<% layout('/layouts/boilerplate') %>
<h2 class="offset-4">SIGN UP IN  WANDERLUST</h2> <br>

<div class="row">
    <div class="col-4 offset-4">
        <form method="post" action="/signup" novalidate class="needs-validation">
        
            <div class="mb-3">
                <label for="username" class="form-label">username</label>
                <input type="text"   name="username" id="username"  class="form-control" required>
               <div class="valid-feedback">Looks good! </div>
                <div class="invalid-feedback">username can't be empty!</div>

            </div>
            <div class="mb-3">
                <label for="email" class="form-label">email</label>
                <input type="text"   name="email" id="email"  class="form-control" required>
                <div class="invalid-feedback">email can't be empty!</div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">password</label>
                <input type="password"   name="password" id="password" minlength="5" maxlength="12"  class="form-control" required>
                    <div class="invalid-feedback">password can't be empty! or min length is 5 characters</div>
            </div>
            <button class="btn btn-primary">signup</button>
            </form>

     </div>
 </div>